# dependencies
/node_modules

# next.js
/.next
/out
/.vercel
/.turbo

# production
/build

# misc
.DS_Store
Thumbs.db
*.pem
.cache
.eslintcache

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*
!.env.example

# typescript
*.tsbuildinfo

# tests and coverage
/coverage
/playwright-report
/test-results

# editors
.idea
.vscode
*.swp
*.swo
